<h1>Plants#new</h1>
<p>Find me in app/views/plants/new.html.erb</p>

<div class="container">
<%= simple_form_for [@garden, @plant] do |f| %>
  <%= f.input :name %>
  <%= f.input :image_url %>
  <%= f.submit %>
<% end %>
</div>
